<form (ngSubmit)="editar()" #forma="ngForm">
    <div class="form-row animated fadeIn">

        <div class="form-group col-12 mb-3">
            <label class="card-subtitle mb-1">Nombre</label>
            <input type="text" class="form-control form-control-sm" placeholder="Inserte nombre" [ngClass]="{'is-invalid': strName.errors?.required && forma.controls['strName'].touched }" [(ngModel)]="getShop.strName" required name="strName" #strName="ngModel">
            <div class="invalid-feedback">
                <small>Es necesario ingresar el nombre de la tienda</small>
            </div>
        </div>

        <div class="form-group col-12 mb-3">
            <label class="card-subtitle mb-1">Descripción</label>
            <textarea type="text" class="form-control form-control-sm" placeholder="Inserte la descripción" [ngClass]="{'is-invalid': strDescription.errors?.required && forma.controls['strDescription'].touched }" name="strDescription" [(ngModel)]="getShop.strDescription"
                required #strDescription="ngModel"></textarea>
            <div class="invalid-feedback">
                <small>Es necesario ingresar la descripción de la tienda</small>
            </div>
        </div>
        <div class="form-group col-12 text-right">
            <button (click)="limpiar(forma)" type="button" class="btn btn-light mr-2" data-dismiss="modal"> Limpiar</button>
            <button [disabled]="forma.invalid" type="submit" class="btn btn-info"> Editar</button>
        </div>
    </div>
</form>