<div class="row">
    <div class="col-md-12">

        <button class="cta" [routerLink]="['/product/create']">
            <span>Agregar mis productos</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        <button class="cta" [routerLink]="['/product/']">
            <span>Ver mis productos</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        <button class="cta">
            <span class="hover-underline-animation" [routerLink]="['/carrito']"> Carrito </span>
            <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path></svg>
        </button>
        <div class="card-body mt-2 animated fadeIn">
            <div>
                <div class="col-md-4 col-sm-10">
                    <p class="text-themecolor">{{ editar? 'Editar': 'Registro'}} de la tienda</p>
                </div>
                <div class="col-md-1 col-sm-2">
                    <!-- <button *ngIf="editar" type="button" class="close" (click)="registro()">
                            <span aria-hidden="true" style="color: crimson;">&times;</span>
                        </button> -->
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <app-shop-registro *ngIf="!editar" (salida)="obtenerTiendas()"></app-shop-registro>
                            <app-shop-modifica *ngIf="editar" [idShopInput]="idShop" (salida)="obtenerTiendas()" (salida)="registro()"></app-shop-modifica>

                        </div>
                        <div class="col-md-7">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Editar</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let shop of shopArr">
                                        <!-- <th scope="row">1</th> -->
                                        <td>{{shop._id}}</td>
                                        <td>{{shop.strName}}</td>
                                        <td>{{shop.strDescription}}</td>
                                        <td>
                                            <button class="btn btn-secondary ml-2" type="button" (click)="modificar(shop._id)">Editar</button><br>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger ml-2" type="button" (click)="eliminar(shop)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>